<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.helloeeg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/logo"
        android:label="StudyBuddy"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name=".HelloEEGActivity"
            android:label="StudyBuddy"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraficoActivity"
            android:label="StudyBuddy"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NotificationReceiverActivity"
            android:label="StudyBuddy"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".AlarmReceiver" >

        </receiver>

        <activity
            android:name=".NotificacionAlarma"
            android:label="@string/title_activity_notificacion_alarma"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
